
@{
    ViewBag.Title = "Thank you for your enquiry";
}

<br />
<br />
<p class="faq-text">Thank you for your enquiry, you should receive a response from our support team in one or two working days.</p>
<p class="faq-text">View all questions sent in @Html.ActionLink("here", "ViewEmailedFAQQustions").</p>
<br />
<br />
<a href="@Url.Action("Index")" class="btn btn-success"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to FAQ</a>
