
@{
    ViewBag.Title = "The very fine online Bookstore";
}

<h2>Welcome to the very fine Bookstore!</h2>
<br />
<h4>We hope you enjoy your stay. While you are here, why don't you check out our fine selection of @Html.ActionLink("books", "Index", "Store")?</h4>

